<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hà Văn Bách</title>
</head>
<body>
    <h1>Thêm và sửa sinh viên</h1>
    <form action="/sinhvien" method="post" enctype="multipart/form-data">
        <input type="text" name="name" id="" placeholder="Name" required/><br>
        <input type="file" name="picture" id="" required/><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>